@page
@model SparkAuto.Areas.Identity.Pages.Account.VerifyEmailModel


<h1>Confirm email address</h1>

<div >
    <p>
        Confirm your email address before proceeding!
        <br />
        If you haven't received a verification email please check your spam folder...
    </p>
</div>
